NET "SYS_CLK_50M" LOC = "C9"	|	IOSTANDARD = LVCMOS33;
NET "SYS_RST" 		LOC = "K17"	|	IOSTANDARD = LVCMOS33;

#---------------LEDs--------------------------------
#NET "LED[7]"		LOC = "F9"	|	IOSTANDARD = LVCMOS33;
#NET "LED[6]"		LOC = "E9"	|	IOSTANDARD = LVCMOS33;
#NET "LED[5]"		LOC = "D11"	|	IOSTANDARD = LVCMOS33;
#NET "LED[4]"		LOC = "C11"	|	IOSTANDARD = LVCMOS33;
#NET "LED[3]"		LOC = "F11"	|	IOSTANDARD = LVCMOS33;
#NET "LED[2]"		LOC = "E11"	|	IOSTANDARD = LVCMOS33;
#NET "LED[1]"		LOC = "E12"	|	IOSTANDARD = LVCMOS33;
#NET "LED[0]"		LOC = "F12"	|	IOSTANDARD = LVCMOS33;

#------------Sliding Switches----------------------
#NET "SW3"		LOC = "N17"	|	IOSTANDARD = LVCMOS33;
#NET "SW2"		LOC = "H18"	|	IOSTANDARD = LVCMOS33;
#NET "SW1"		LOC = "L14"	|	IOSTANDARD = LVCMOS33;
#NET "SW0"		LOC = "L13"	|	IOSTANDARD = LVCMOS33;

#--------------LCD Signals-------------------------
NET "LCD_E"		LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_RS" 	LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_RW" 	LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

NET "LCD_DATA[4]" LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_DATA[5]" LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_DATA[6]" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_DATA[7]" LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

# Strata Flash (need to disable to use LCD display) 
NET "SF_OE" LOC = "C18" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "SF_CE" LOC = "D16" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "SF_WE" LOC = "D17" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
